.text-area {
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-display-caret:true;
}

.text-area .content {
    -fx-background-color: #ebebe0;
}




.text-field{
    -fx-font-family: Consolas;
    -fx-font-size: 15;
    -fx-text-fill: #000000;
    -fx-display-caret:true;
-fx-background-color: #ebebe0;
}

.text-field.content {
    -fx-background-color: #ebebe0;
}